<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>SUCESU-PA - Sociedade de Usuários de Tecnologia</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">

	<!-- start header -->
    <header>
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="quem_somos.html">A Sucesu</a>
                        </li>
                        <li>
                            <a href="associados.html">Associados</a>
                        </li>
                        <li>
                            <a href="parceiros.html">Parceiros</a>
                        </li>
                        <li>
                            <a href="eventos.html">Eventos</a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/photos/sucesupara/albums" target="_blank">Fotos</a>
                        </li>
                        <li>
                            <a href="contact.html">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <nav class="navbar navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                            <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A Sucesu <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="quem_somos.html">Quem Somos</a>
                                        </li>
                                        <li>
                                            <a href="diretoria_atual.html">Diretoria Atual</a>
                                        </li>
                                        <li>
                                            <a href="sucesu_nacional.html">SUCESU Nacional</a>
                                        </li>
                                         <li>
                                            <a href="gestoes_anteriotes.html">Gestões Anteriores</a>
                                        </li>
                                         <li>
                                             <a href="estatuto_regimento.html">Estatuto e Regimento</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="associados.html">Associados</a>
                                </li>
                                <li>
                                    <a href="parceiros.html">Parceiros</a>
                                </li>
                                <li>
                                    <a href="eventos.html">Eventos</a>
                                </li>
                                <li>
                                    <a href="https://www.flickr.com/photos/sucesupara/albums" target="_blank">Fotos</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contato</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header><!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Sucesu Nacional</h2>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
		<div class="container content">
            <div class="row">
                <h3>Histórico</h3>
                <p class="text-justify">
                    <strong>A SUCESU</strong> – inicialmente denominada Sociedade de Usuários de Computadores e Equipamentos Subsidiários –
                    foi criada em 1965 por um grupo de usuários que se reunia para debater e buscar soluções para problemas
                    comuns em conjunto. <strong>A SUCESU</strong> –Associação de Usuários de Informática e Telecomunicações –
                    é uma sociedade civil sem fins lucrativos e sem caráter político-partidário, de representação
                    política dos seus associados e de coordenação, promoção, execução e indução de atividades no
                    setor de TIC (Tecnologia da Informação e Telecomunicações).
                    <strong>A SUCESU</strong> é uma das maiores e mais experiente entidade brasileira do setor.
                    Com sede em Brasília, conta hoje com 13 <strong>Regionais</strong> e em torno de hum mil associados entre
                    Pessoas Físicas e Jurídicas, agregando aproximadamente <strong>100 mil</strong> usuários.
                </p>

                <p>A SUCESU tem se integrado em lutas importantes na história da informática brasileira,
                    tais quais:
                </p>

                <ul>
                    <li>A implantação da Lei do Software, do II Planin - Fórum de acompanhamento do Plano Nacional de Informática e Automação;</li>
                    <li>Lutou pelo fim da Reserva de Mercado;</li>
                    <li>Da redução da carga tributária, pela difusão de novas tecnologias;</li>
                    <li>Capacitação de recursos humanos e novas políticas de desenvolvimento do setor para favorecer o crescimento da economia, visando atingir, também, empregos e salários. Participa do CONIN - Conselho Nacional de Informática e Automação.</li>
                    <li>Mais atual no envolvimento e parceria com outras entidades a fins na luta por uma TI engajada com o desenvolvimento sustentável contribuindo com soluções inteligentes, escaláveis e de alta performance na implementação de modelos de governos eletrônico no mundo, em benefício do cidadão.</li>
                </ul>

                <p>Seus principais objetivos são:</p>
                <ul>
                    <li>Defender os direitos dos usuários;</li>
                    <li>Difundir ideias que sejam do interesse dos associados;</li>
                    <li>Representar politicamente todos os integrantes da entidade,</li>
                    <li>Representar empresas e profissionais do setor de Informática e Telecomunicações;</li>
                    <li>Promover e colaborar no desenvolvimento do setor de Informática e Telecomunicações;</li>
                    <li>Realizar e estimular debates técnicos e políticos;</li>
                    <li>Promover a absorção e divulgação de tecnologias relacionadas à Informática e Telecomunicações;</li>
                    <li>Interagir com entidades especializadas, objetivando a definição e atribuição de padrões técnicos de normalização e de controle de qualidade.</li>
                </ul>

            </div>
        </div>
    </section>

    <footer class="footer">
        <div id="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <!-- <span>© BioTex 2018 All right reserved. By</span>
                                <a href="http://webthemez.com" target="_blank">WebThemez</a> -->
                                <span>© Copyright 2016 SUCESU - PARÁ. Todos os direitos reservados</span>
                                <p>
                                    Wandenkolk, 1243 sala 1404 - Umarizal Fone: 91 3224 1533 CEP: 66055-030 - Belém/PA
                                </p>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li>
                                <a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/sucesu_para" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
