{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Associe-se</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div>

                        <h3>Quem pode se associar?</h3>
                        <p>Se você é usuário de serviços, equipamentos e técnicas de informática e telecomunicações, tem que estar associado a SUCESU.</p>
                        <p>O associado da SUCESU - entidade de classe sem fins lucrativos, só tem benefícios, a um custo extremamente baixo. Além de participar dos eventos tradicionais, a SUCESU propicia uma permanente troca de experiências através dos seus grupos de interesse, palestras técnicas, seminários, cursos, reuniões e muitas outras atividades voltadas ao desenvolvimento e consolidação do setor de informática e telecomunicações.</p>
                        <p>Podem ser pequenas, médias, grandes organizações, homens, mulheres, jovens, adultos, profissionais liberais ou estudantes.</p>
                        <p>Para a manutenção da entidade você passa a contribuir com uma pequena taxa mensal. Categorias</p>
                        <p>O quadro social da SUCESU é constituído por pessoas físicas e jurídicas, regular e legalmente constituídas nas categorias: Titular, Individual e Benemérito</p>
                        <h3>Associado Corporativo (Pessoa Jurídica)</h3>
                        <p>Pessoas jurídicas (micro, pequenas, médias e grandes empresas), que utilizam, prestam serviços e operam quaisquer equipamentos de informática e telecomunicações.</p>
                        <p>Faça sua empresa desfrutar imediatamente de todas as vantagens de ser sócio Pessoa Jurídica da SUCESU. Como Pessoa Jurídica, o associado poderá ter qualquer profissional de qualquer área da empresa participando das atividades, como um sócio aderente.</p>
                        <h3>Associado Individual (Pessoa Física)</h3>
                        <p>Pessoas físicas que dedicam às atividades definidas na categoria de Sócio Individual, de forma autônoma, mas contínua.</p>
                        <h3>Como se associar?</h3>
                        <p>Inscreva você ou a sua empresa, se for o caso, e permita que qualquer profissional dela possa participar desde já!</p>
                        <p>A opção de pagamento da anuidade é muito mais vantajosa, tanto em termos financeiros, quanto pelos benefícios e prêmios oferecidos, como um número maior de vagas gratuítas e preferenciais nos eventos técnicos.</p>
                        <p>Agora, com as novas categorias de associação pessoa Jurídica, o sócio terá um valor e uma condição de pagamento mais adequada ao porte de sua empresa.</p>
                        <p>Se você ainda não faz parte do quadro de sócios, associe-se já, e seja bem-vindo ao mundo tecnológico da informática e das telecomunicações.</p>
                        <p>Envie já um e-mail para <a href="mailto:sucesu@supridados.com.br">sucesu@supridados.com.br</a> . Entraremos em contato para responder a todas as suas questões e dúvidas.</p>
                        <h3>Valores</h3>
                        <table><tbody><tr><td class="tipo">Tipo</td>
                        <td class="valor">Valor</td></tr>
                        <tr><td>Titular I</td>
                        <td>R$2.500,00</td></tr>
                        <tr><td>Colaborador</td>
                        <td>R$1.500,00</td></tr>
                        <tr><td>Pessoa Física</td>
                        <td>R$40,00</td></tr></tbody></table>
                </div>
				<br>
			</div>
		</div>
	<div class="row">
							<div class="col-md-6">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor.</p>
									<div class="alert alert-success hidden" id="contactSuccess">
										<strong>Success!</strong> Your message has been sent to us.
									</div>
									<div class="alert alert-error hidden" id="contactError">
										<strong>Error!</strong> There was an error sending your message.
									</div>
									<div class="contact-form">

							  <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->

		<form name="sentMessage" id="contactForm"  novalidate>
		  <div class="control-group">
        <div class="controls">
			    <input type="text" class="form-control" placeholder="Nome do Responsável" id="nomeResponsavel"
                required data-validation-required-message="Please enter your name" />
			    <p class="help-block"></p>
		   </div>
	    </div>

      <div class="control-group">
        <div class="controls">
			    <input type="text" class="form-control" placeholder="Empresa" id="empresa" required
			           data-validation-required-message="Please enter your name" />
			    <p class="help-block"></p>
		   </div>
	    </div>

      <div class="control-group">
        <div class="controls">
			    <input type="email" class="form-control" placeholder="Email" id="email" required
			   		   data-validation-required-message="Please enter your email" />
               <p class="help-block"></p>
		    </div>
	    </div>

      <div class="control-group">
        <div class="controls">
			    <input type="text" class="form-control" placeholder="Telefone" id="telefone" required
			   		   data-validation-required-message="Please enter your email" />
               <p class="help-block"></p>
		    </div>
	    </div>

	    <div id="success"> </div> <!-- For success/fail messages -->
	    <button type="submit" class="btn btn-lg btn-success wow fadeInUp pull">Enviar</button><br />
    </form>
    <p>Mais informações liga para o número (091) 3224-1533 - <a href="mailto:sucesu@supridados.com.br">sucesu@supridados.com.br</a></p>
</div>
								</div>

							</div>
	</div>

	</section>
{% endblock %}
