{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Nome Evento</h2>
			</div>
		</div>
	</div>
	</section>

  <section id="content">
	  <div class="container">
        <div class="hidden-xs hidden-md ">
    	    <div class="row">
                <div class="col-md-6 col-lg-6">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolores quae porro consequatur aliquam, incidunt eius magni provident,
                        doloribus omnis minus temporibus perferendis nesciunt quam repellendus
                        nulla nemo ipsum odit corrupti consequuntur possimus.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolores quae porro consequatur aliquam, incidunt eius magni provident,
                        doloribus omnis minus temporibus perferendis nesciunt quam repellendus
                        nulla nemo ipsum odit corrupti consequuntur possimus
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolores quae porro consequatur aliquam, incidunt eius magni provident,
                        doloribus omnis minus temporibus perferendis nesciunt quam repellendus
                        nulla nemo ipsum odit corrupti consequuntur possimus
                    </p>
                    <p>Data: dd/mm/aaaa</p>
                    <p>Horário: </p>
                    <p>Local: </p>
                </div>
                <div class="col-md-5 col-lg-5">
                    <img class="img-responsive" src="img/service1.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="visible-xs visible-md">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <img class="img-responsive" src="img/service1.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolores quae porro consequatur aliquam, incidunt eius magni provident,
                        doloribus omnis minus temporibus perferendis nesciunt quam repellendus
                        nulla nemo ipsum odit corrupti consequuntur possimus.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolores quae porro consequatur aliquam, incidunt eius magni provident,
                        doloribus omnis minus temporibus perferendis nesciunt quam repellendus
                        nulla nemo ipsum odit corrupti consequuntur possimus
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolores quae porro consequatur aliquam, incidunt eius magni provident,
                        doloribus omnis minus temporibus perferendis nesciunt quam repellendus
                        nulla nemo ipsum odit corrupti consequuntur possimus
                    </p>
                    <p>Data: dd/mm/aaaa</p>
                    <p>Horário: </p>
                    <p>Local: </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5 col-md-push-5 col-xs-5 col-xs-push-3">
                <a href="inscreva-se_evento.html" class="btn btn-lg wow fadeInUp">
                    Inscreva-se
                </a>
            </div>
        </div>
	</section>
{% endblock %}
