{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Diretoria Atual</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
						<!-- Our Team starts -->
						<!-- Heading -->
						<!-- <div class="block-heading-six">
							<h4 class="bg-color">Our Team</h4>
						</div> -->
						<br>

						<!-- Our team starts -->

						<div class="team-six">
							<div class="row">
								<div class="col-md-2 col-xs-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team1.jpg" alt="">
										<!-- Name -->
										<h4>Johne Doe</h4>
										<span class="deg">Creative</span>
									</div>
								</div>
								<div class="col-md-2 col-xs-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team2.jpg" alt="">
										<!-- Name -->
										<h4>Lourenço Monteiro</h4>
										<span class="deg">Diretor Administrativo</span>
									</div>
								</div>
								<div class="col-md-2 col-xs-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team3.jpg" alt="">
										<!-- Name -->
										<h4>Evandro Paes</h4>
										<span class="deg">Diretor de Comunidades</span>
									</div>
								</div>
								<div class="col-md-2 col-xs-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team4.jpg" alt="">
										<!-- Name -->
										<h4>Kerinele rase</h4>
										<span class="deg">Manager</span>
									</div>
								</div>
                                <div class="col-md-2 col-xs-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team1.jpg" alt="">
										<!-- Name -->
										<h4>Johne Doe</h4>
										<span class="deg">Creative</span>
									</div>
								</div>
								<div class="col-md-2 col-xs-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="img/team2.jpg" alt="">
										<!-- Name -->
										<h4>Jennifer</h4>
										<span class="deg">Programmer</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Our team ends -->


					</div>

				</div>
	</section>
{% endblock %}
