{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Diretoria Atual</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
						<!-- Our Team starts -->
						<!-- Heading -->
						<!-- <div class="block-heading-six">
							<h4 class="bg-color">Our Team</h4>
						</div> -->
						<br>

						<!-- Our team starts -->

						<div class="team-six">
							<div class="row">
								{% for diretor in diretores %}
								<div class="col-md-2 col-xs-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{{diretor.imagem.url}}" alt="">
										<!-- Name -->
										<h4>{{ diretor.nome }}</h4>
										<span class="deg"> {{ diretor.cargo }} </span>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- Our team ends -->
					</div>

				</div>
	</section>
{% endblock %}
