{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Estatuto E Regimento</h2>
			</div>
		</div>
	</div>
	</section>

	<section id="content" >
		<div class="container content">
            <div class="row">
                <h3>Estatuto E Regimento</h3>
                <a href="">Estatuto e Regimento Sucesu-Para.pdf</a> 151.49 KB
            </div>
        </div>
    </section>

{% endblock %}
