{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Eventos</h2>
			</div>
		</div>
	</div>
	</section>
  <section id="content">
          <div class="container content">
          <!-- Service Blcoks -->
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="{% static 'img/32178384_192487588245098_2486452607418105856_n.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
              <h3><a href="{% url 'evento' %}">Desafio Hackathon Ver-o-Peso</a></h3>
              <p>A <strong>Visa</strong>, patrocinadora master do <strong>Amazon Lauch 2</strong>, está trazendo o projeto <i>Cashless Cities</i> para Belém através do <i>Desafio Hackton Ver-o-Peso</i>
			   e a <strong>Kyvo Design e Inovação</strong> vai oferecer consultoria para as equipes e coordenar esse desafio!
			   <i>Inscreva-se no Amazon Launch 2</i> e garanta sua pré-inscrição no hackathon para sair na frente! <strong>Amazon Lauch 2</strong></p>
             <i class ="fa fa-map-marker"> Teatro Maria Sylvia Nunes (Estação das Docas) - Belém,PA </i>
			 <br>
			 <i class="fa fa-calendar"> 28 de Maio de 2018, 08:00 as 18:00 </i>
            </div>
          </div>

          <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="{% static 'img/conferencia.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
              <h3><a href="{% url 'evento' %}">Conferência Gestão do Conhecimento e Inovação: Um modelo para incrementar a capacidade inovadora na indústria</a></h3>
              <p>O <strong>PCT Guamá</strong> receberá o professor Charles Benigno, coordenador do <i>Núcleo de Inovação e Tecnologia – NIT da UFRA</i>, para uma
			  conferência sobre gestão do conhecimento e inovação.</p>
             <i class ="fa fa-map-marker"> Auditório do Espaço Empreendedor - PCT Guamá (Avenida Perimetral da Ciência km 01, Guamá) - Belém,PA </i>
			 <br>
			 <i class="fa fa-calendar"> 24 de Maio de 2018, 15:00 </i>
            </div>
          </div>

          <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
              <img class="img-responsive" src="{% static 'img/evento3.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
              <h3><a href="{% url 'evento' %}" class="eventos">Cafe Tech Abril 2018</a></h3>
              <p>O <strong>Café Tech</strong> é o ponto de encontro ideal para trocas de experiências e divulgação de produtos e serviços, realçando o caráter de integração dos associados da SUCESU PARÁ, profissionais, estudantes e empresários do Estado.
                Patrocinado por empresas de TIC e promovido pela <strong>SUCESU PA</strong>, vem se consolidando no mercado de Belém como uma excelente alternativa  para apresentação de novos produtos, “cases” de sucesso e serviços da área de informática e telecomunicações.</p>
             <i class ="fa fa-map-marker">  Belém Hall Eventos - Belém,PA </i>
			 <br>
			 <i class="fa fa-calendar"> 05 de Abril de 2018, 08:00 </i>
            </div>
          </div>


          <!-- End Service Blcoks -->

          <hr class="margin-bottom-50">

      </div>
      </section>
{% endblock %}
