{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Gestões Anteriores</h2>
			</div>
		</div>
	</div>
	</section>


	<section id="content">
		<div class="container content">
            <div class="row">
                <h3>EX-PRESIDENTES</h3>
                <ul>
                    <li>Rubens Donati Jorge (82/83)</li>
                    <li>Francisco Wilson de M. Menezes (84/85)</li>
                    <li>Rubens Donati Jorge (86/87)</li>
                    <li>Inacio Koury Gabriel Neto (88/89) – in memoria</li>
                    <li>Edir Jacques Rodrigues (90/91)</li>
                    <li>Luiz Paulo da Gama Malcher (92/93)</li>
                    <li>Luiz Paulo da Gama Malcher (94/95)</li>
                    <li>Marcos Antonio Brandão da Costa (96/97)</li>
                    <li>Alcyr Moraes de Sousa (98/99)</li>
                    <li>Luiz Paulo da Gama Malcher (00/01) – in memoria</li>
                    <li>Luiz Paulo da Gama Malcher (02/03) – in memoria</li>
                    <li>Paulo de Jesus Sarmanho dos Santos Freire (04/05)</li>
                    <li>Paulo de Jesus Sarmanho dos Santos Freire (06/07)</li>
                    <li>Théo Carlos F. R. Pires (08/09)</li>
                    <li>Luiz Paulo da Gama Malcher (11/11) in memoria</li>
                    <li>Mauro José Santos Brito ( 12/14)</li>
                </ul>

                <h3>Conselho Diretor</h3>
                <h4>Conselho Diretor 2008/2009</h4>

                <ul>
                    <li>Presidente: Théo Carlos F. R. Pires (TRT)</li>
                    <li>Vice-Presidente: Cláudio Martins (Prodepa)</li>
                    <li>Diretor Financeiro: Odlaniger Lourenço (Acepa/Cesupa)</li>
                    <li>Diretor de Grupo de Trabalho: Manoel José Sena (Iesam)</li>
                    <li>Diretor de Grupo de Usuários: José Castanho Neto (Uepa)</li>
                    <li>Diretor de Treinamento: Cláudio Alex Rocha (Unespa)</li>
                    <li>Diretor de Eventos: Ruy Martyres de Oliveira Supridados)</li>
                    <li>Diretor de Expansão: Antonio Jorge Abelém (Ufpa)</li>
                    <li>Diretor de Divulgação: Cícero R. de Freitas (TCE/Pa)</li>
                </ul>

                <h4>Conselho Fiscal</h4>
                <ul>
                    <li>Luiz Paulo Malcher (Tecnoinf)</li>
                    <li>Artur Pojo Gonçalves (Rede)</li>
                    <li>Bernardo Souza (Senac)</li>
                    <li>Mário Tavares (TJE/Pa)</li>
                    <li>Antônio Nilo Barros Filho (Detran)</li>
                    <li>Paulo Del-Tetto Silva (Amazon)</li>

                </ul>

                <h4>Conselho Diretor - Inoperante</h4>

                <h4>Conselho Diretor 2011</h4>
                <ul>
                    <li>Presidente: Luiz Paulo Leal da Gama Malcher(UFPA)</li>
                    <li>Vice-Presidente:Leila Riodades Daher (Prodepa)</li>
                    <li>Diretor Financeiro:Julio Antonio Gouvêa Grandi (Plat Engenharia)</li>
                    <li>Diretor de Grupo de Trabalho:Mauro Brito(Serpro)</li>
                    <li>Diretor de Grupo de Usuários:Eugênio Pessoa(Banpará)</li>
                    <li>Diretor de Treinamento:Tomaz de Aquino Rodrigues de Freitas (GOV BR)</li>
                    <li>Diretor de Eventos:Celestino Alves (Computer Store)</li>
                    <li>Diretor de Expansão:Albino de Jesus Aragão(Work Tech Informática)</li>
                    <li>Diretor de Divulgação:Luiz Paulo Lopes(Mentor)</li>
                </ul>

                <h4>Conselho Fiscal</h4>
                <ul>
                    <li>Roberto Sodré Amaral (Montreal Informática)</li>
                    <li>Luiz Lopes de Carvalho Filho(Lanbrás)</li>
                    <li>Fábio Cezar Massoud Salame da Silva(TJE/Pa)</li>
                    <li>Antonio Nilo Barros Filho (Detran/Pa)</li>
                    <li>Artur Pojo Gonçalves (Rede Informática)</li>
                    <li>Bernardo Sampaio Coelho de Souza (Senac/Pa)</li>
                </ul>

                <h4>Conselho Diretor 2012/2015</h4>
                <ul>
                    <li>Presidente:Mauro José Santos Brito(Serpro)</li>
                    <li>Vice-Presidente: Leila Riodades Daher (Prodepa)</li>
                    <li>Diretor Financeiro: Julio Antonio Gouvêa Grandi (Plat Engenharia)</li>
                    <li>Diretor de Grupo de Trabalho:Odlaniger Lourenço D. Monteiro(Cesupa)</li>
                    <li>Diretor de Grupo de Usuários:Rick Wenderson da C. Figueiredo(Cinbesa)</li>
                    <li>Diretor de Treinamento: Tomaz de Aquino Rodrigues de Freitas (GOV BR)</li>
                    <li>Diretor de Eventos:Marco Aurelio Rêgo (TRT 8ª Região)</li>
                    <li>Diretor de Expansão: Marcelo Andrade da Gama Malcher( Tecnoinf)</li>
                    <li>Diretor de Divulgação:Roberto Luiz Sodré do Amaral(MI Montreal)    </li>
                </ul>

                <h4>Conselho Fiscal</h4>
                <ul>
                    <li>Rodrigo Quites Reis ( SECTI)</li>
                    <li>Rosa Maria Paiva Bastos ( OI-Telemar)</li>
                    <li>Luiz Lopes de Carvalho ( Lanbrás )</li>
                </ul>

                <h4>Conselho Fiscal Suplente</h4>
                <ul>
                    <li>Francisco Solano Rodrigues Neto( FIEPA)</li>
                    <li>Eloi Luiz Favero( UFPA)</li>
                    <li>Luiz Paulo Corrêa Lopes( Mentor)</li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
