{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
            <!-- end header -->
            <section id="banner">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{% static 'img/slides/1.png' %}" alt="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="flex-caption">
                                            <h3>Biotechnology</h3>
                                            <p>Doloribus omnis minus temporibus perferendis ipsa architecto.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'img/slides/2.png' %}" alt="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="flex-caption">
                                            <h3>Active Pharma</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitincidunt.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'img/slides/3.png' %}" alt="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="flex-caption">
                                            <h3>Active Pharma</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitincidunt.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'img/slides/4.png' %}" alt="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="flex-caption">
                                            <h3>Active Pharma</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitincidunt.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </section>
            <section class="callaction">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h1>SUCESU PARÁ</h1>
                                <p class="text-justify">Fundada em 20 maio de 1982, a entidade promoveu seu primeiro grande evento,
                                o INFORMAZÔNIA 1984, e a partir daí, anunciou a inclusão de um evento
                                regional que fez parte do calendário de eventos regionais:
                                a SEPAI – Semana Paraense de Informática e Telecomunicações.
                                Atualmente temos os Fórum de Gestores de TI, na sua 4ª edição e o
                                Fórum Brasil Amazônia de TI, na sua 5º edição, além de eventos menores,
                                como o café de tecnologia com foco para os CIOs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<section id="content">
        <div class="container content">
        <!-- Service Blcoks -->
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                        <a href="{% url 'associe_se' %}"><img class="circular img-responsive" src="{% static 'img/service3.jpg' %}" alt=""></a>
                          <h3><a href="{% url 'cadastro' %}">Cadastre-se</a></h3>
                          <p class="-webkit-cente">Cadastre-se em nosso site e receba, por e-mail, novidades sobre a SUCESU-PA e informações sobre eventos, treinamentos e serviços.</p>
                      </div>
            <div class="col-md-4">
              <a href="{% url 'associe_se' %}"><img class="circular img-responsive" src="{% static 'img/service2.jpg' %}" alt=""></a>
                <h3> <a href="{% url 'associe_se' %}">Associe-se </a></h3>
                <p class="text-justify">Faça sua empresa desfrutar imediatamente de todas as vantagens de se associar à SUCESU-PA. Como Pessoa Jurídica, o associado poderá ter qualquer profissional de qualquer área da empresa participando das atividades, como um sócio aderente.</p>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                    <a href="{% url 'eventos' %}"><img class="circular img-responsive" src="{% static 'img/service1.jpg' %}" alt=""></a>
                   <h3> <a href="{% url 'eventos' %}">Eventos</a></h3>
                   <p class="text-justify">Os eventos organizados pela SUCESU-PA são pontos de encontro ideal para troca de experiências e divulgação de produtos e serviços, realçando o caráter de integração dos associados da SUCESU-PARÁ, profissionais, estudantes e empresários do Estado.</p>
               </div>

        </div>
        <!-- End Service Blcoks -->

        <hr class="margin-bottom-50">

    </div>
    </section>
            <!-- <section class="features"></section>
            <section class="aboutUs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="img/img2.png" class="img-center" alt="">
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h2>Our Team</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae
                                    porro consequatur aliquam, incidunt eius magni provident, doloribus omnis
                                    minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum
                                    odit corrupti consequuntur possimus, vero mollitia velit ad consectetur.
                                    Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non,
                                    magni consequuntur quam.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae
                                    porro consequatur aliquam, incidunt eius magni provident, doloribus omnis
                                    minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum
                                    odit corrupti consequuntur possimus, vero mollitia velit ad consectetur.
                                    Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non,
                                    magni consequuntur quam.</p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </section> -->
{% endblock %}
