{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Quem Somos</h2>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
		<div class="container content">
            <div class="row">
                <h3>Um Pouco de Hsitória</h3>
                <p class="text-justify">

                    <strong>SUCESU</strong> - Sociedade dos Usuários de Informática e Telecomunicações: Originou-se de seu primeiro nome,
                    Sociedade de Usuários de Computadores e Equipamentos Subsidiários.
                    Criada há 40 anos, no Rio de Janeiro, por um grupo de usuários que se reunia para debater e buscar
                    soluções em conjunto, a SUCESU é a entidade mais antiga e tradicional da área de informática.
                    Congrega atualmente 7.000 empresas associadas e 100.000 sócios individuais, em 20 Estados do Brasil.
                    Desenvolve pesquisas de identificação do perfil de usuários.
                    Os dados servem para que as empresas privadas voltem seus produtos
                    e serviços a um mercado já identificado e o governo oriente políticas voltadas para o setor.
                    Os grupos de usuários/trabalhos, criados há cerca de 15 anos em várias regionais,
                    se transformam em um canal fundamental para que a entidade saiba das dificuldades dos associados,
                    em relação a produtos e serviços oferecidos no mercado.
                </p>

                <p>A SUCESU tem se integrado em lutas importantes na história da informática brasileira,
                    tais quais:
                </p>

                <ul>
                    <li>A implantação da Lei do Software, do II Planin - Fórum de acompanhamento do Plano Nacional de Informática e Automação;</li>
                    <li>Lutou pelo fim da Reserva de Mercado;</li>
                    <li>Da redução da carga tributária, pela difusão de novas tecnologias;</li>
                    <li>Capacitação de recursos humanos e novas políticas de desenvolvimento do setor para favorecer o crescimento da economia, visando atingir, também, empregos e salários. Participa do CONIN - Conselho Nacional de Informática e Automação.</li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
