{% extends 'sucesuview/base.html' %}
{% load staticfiles%}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Sucesu Nacional</h2>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
		<div class="container content">
            <div class="row">
                <h3>Histórico</h3>
                <p class="text-justify">
                    <strong>A SUCESU</strong> – inicialmente denominada Sociedade de Usuários de Computadores e Equipamentos Subsidiários –
                    foi criada em 1965 por um grupo de usuários que se reunia para debater e buscar soluções para problemas
                    comuns em conjunto. <strong>A SUCESU</strong> –Associação de Usuários de Informática e Telecomunicações –
                    é uma sociedade civil sem fins lucrativos e sem caráter político-partidário, de representação
                    política dos seus associados e de coordenação, promoção, execução e indução de atividades no
                    setor de TIC (Tecnologia da Informação e Telecomunicações).
                    <strong>A SUCESU</strong> é uma das maiores e mais experiente entidade brasileira do setor.
                    Com sede em Brasília, conta hoje com 13 <strong>Regionais</strong> e em torno de hum mil associados entre
                    Pessoas Físicas e Jurídicas, agregando aproximadamente <strong>100 mil</strong> usuários.
                </p>

                <p>A SUCESU tem se integrado em lutas importantes na história da informática brasileira,
                    tais quais:
                </p>

                <ul>
                    <li>A implantação da Lei do Software, do II Planin - Fórum de acompanhamento do Plano Nacional de Informática e Automação;</li>
                    <li>Lutou pelo fim da Reserva de Mercado;</li>
                    <li>Da redução da carga tributária, pela difusão de novas tecnologias;</li>
                    <li>Capacitação de recursos humanos e novas políticas de desenvolvimento do setor para favorecer o crescimento da economia, visando atingir, também, empregos e salários. Participa do CONIN - Conselho Nacional de Informática e Automação.</li>
                    <li>Mais atual no envolvimento e parceria com outras entidades a fins na luta por uma TI engajada com o desenvolvimento sustentável contribuindo com soluções inteligentes, escaláveis e de alta performance na implementação de modelos de governos eletrônico no mundo, em benefício do cidadão.</li>
                </ul>

                <p>Seus principais objetivos são:</p>
                <ul>
                    <li>Defender os direitos dos usuários;</li>
                    <li>Difundir ideias que sejam do interesse dos associados;</li>
                    <li>Representar politicamente todos os integrantes da entidade,</li>
                    <li>Representar empresas e profissionais do setor de Informática e Telecomunicações;</li>
                    <li>Promover e colaborar no desenvolvimento do setor de Informática e Telecomunicações;</li>
                    <li>Realizar e estimular debates técnicos e políticos;</li>
                    <li>Promover a absorção e divulgação de tecnologias relacionadas à Informática e Telecomunicações;</li>
                    <li>Interagir com entidades especializadas, objetivando a definição e atribuição de padrões técnicos de normalização e de controle de qualidade.</li>
                </ul>

            </div>
        </div>
    </section>

{% endblock %}
